<div class="container flex flex-col gap-8 w-full p-8">

  <%= render partial: "admin/icon-breadcrumbs", locals: {
    items: [
      {
        icon: "fa-solid fa-lock",
        href: "/admin",
        text: "Admin",
      },
      {
        icon: "fa-solid fa-book",
        href: admin_labour_law_documents_path,
        text: "Labour Law",
      },
      {
        icon: "fa-solid fa-book",
        href: admin_labour_law_document_path(@document),
        text: @document.document_name,
      },
      {
        icon: "fa-solid fa-book",
        href: admin_labour_law_revisions_path(document_id: @document.id),
        text: "Revisions",
      },
      {
        icon: "fa-solid fa-book",
        href: admin_labour_law_revision_path(@revision),
        text: @revision.revision_code,
      }
    ]
  } %>

  <%= render partial: "admin/icon-heading", locals: {
    icon: "fa-solid fa-lock",
    text: "Elements"
  } %>

  <%= render partial: "admin/icon-list", locals: {
    items: @elements.index_order.map do |element|
      {
        icon: "fa-solid fa-calendar-days",
        top: {
          text: "#{element.element_chapter ? "Chapter #{element.element_chapter} " : ""}#{element.element_section ? "Section #{element.element_section} " : ""}#{element.element_paragraph ? "Paragraph #{element.element_paragraph} " : ""} --",
          href: "/admin/labour_law/elements/#{element.id}",
        },
        bottom: {
          text: "#{element.element_type} #{element.element_index}",
          extra: "#{element.element_text}",
        },
      }
    end
  } %>

</div>