<div class="container flex flex-col gap-8 w-full p-8">

  <%= render partial: "admin/icon-breadcrumbs", locals: {
    items: [
      {
        icon: "fa-solid fa-lock",
        href: "/admin",
        text: "Admin",
      },
      {
        icon: "fa-solid fa-book",
        href: admin_labour_law_documents_path,
        text: "Labour Law",
      },
      {
        icon: "fa-solid fa-book",
        href: admin_labour_law_document_path(@document),
        text: @document.document_name,
      },
      {
        icon: "fa-solid fa-book",
        href: admin_labour_law_revisions_path(document_id: @document.id),
        text: "Revisions",
      },
      {
        icon: "fa-solid fa-book",
        href: admin_labour_law_revision_path(@revision),
        text: @revision.revision_code,
      },
      {
        icon: "fa-solid fa-book",
        href: admin_labour_law_elements_path(revision_id: @revision.id),
        text: "Elements",
      },
    ]
  } %>

  <%= render partial: "admin/icon-heading", locals: {
    icon: "fa-solid fa-lock",
    text: @element.id,
  } %>


  <%= render partial: "admin/icon-list", locals: {
    items: [
       {
        icon: "fa-solid fa-book",
        top: { text: "ID" },
        bottom: { text: @element.id },
      },
      {
        icon: "fa-solid fa-book",
        top: { text: "Created" },
        bottom: { text: @element.created_at },
      },
      {
        icon: "fa-solid fa-book",
        top: { text: "Updated" },
        bottom: { text: @element.updated_at },
      },
      {
        icon: "fa-solid fa-book",
        top: { text: "Element Slug" },
        bottom: { text: @element.element_slug },
      },
      {
        icon: "fa-solid fa-book",
        top: { text: "Element Text" },
        bottom: { text: @element.element_text },
      },
      {
        icon: "fa-solid fa-book",
        top: { text: "Element Type" },
        bottom: { text: @element.element_type },
      },
      {
        icon: "fa-solid fa-book",
        top: { text: "Element Index" },
        bottom: { text: @element.element_index },
      },
      {
        icon: "fa-solid fa-book",
        top: { text: "Element Chapter" },
        bottom: { text: @element.element_chapter },
      },
      {
        icon: "fa-solid fa-book",
        top: { text: "Element Section" },
        bottom: { text: @element.element_section },
      },
      {
        icon: "fa-solid fa-book",
        top: { text: "Element Paragraph" },
        bottom: { text: @element.element_paragraph },
      },
      {
        icon: "fa-solid fa-book",
        top: { text: "Translations", href: admin_labour_law_translations_path(element_id: @element.id)},
        bottom: { text: "#{@element.translations.count}" },
      },
      {
        icon: "fa-solid fa-arrow-left",
        top: {
          text: "Previous",
          href: admin_labour_law_element_path(@element.prev),
        },
        bottom: {
          text: "#{@element.prev.element_text}"
        },
      },
      {
        icon: "fa-solid fa-arrow-right",
        top: {
          text: "Next",
          href: @element.next.present? ? admin_labour_law_element_path(@element.next) : "",
        },
        bottom: {
          text: @element.next.present? ? @element.next.element_text : "",
        },
      },
      {
        icon: "fa-solid fa-book",
        top: {
          text: "New",
          href: new_admin_labour_law_element_path(revision_code: @revision.revision_code),
        },
      },
      {
        icon: "fa-solid fa-book",
        top: {
          text: "New paragraph",
          href: new_admin_labour_law_element_path(
            revision_code: @revision.revision_code,
            type: "new_paragraph"
          ),
        },
      },
      {
        icon: "fa-solid fa-book",
        top: {
          text: "Insert after",
          href: new_admin_labour_law_element_path(
            revision_id: @revision.id,
            type: "new_paragraph",
            position: "after",
            element_id: @element.id
          ),
        },
      },
      {
        icon: "fa-solid fa-book",
        top: {
          text: "Edit",
          href: edit_admin_labour_law_element_path(@element),
        },
      },
      {
        icon: "fa-solid fa-book",
        top: {
          html: button_to(
            "Delete",
            admin_labour_law_element_path(@element),
            {
              method: :delete,
              class: "text-red-700"
            }
          )
        },
      }
    ]
  } %> 

</div>