<div class="container flex flex-col gap-8 w-full p-8">

  <%= render partial: "admin/icon-breadcrumbs", locals: {
    items: [
      {
        icon: "fa-solid fa-lock",
        href: "/admin",
        text: "Admin",
      },
      {
        icon: "fa-solid fa-book",
        href: admin_labour_law_documents_path,
        text: "Labour Law",
      },
      {
        icon: "fa-solid fa-book",
        href: admin_labour_law_document_path(@document),
        text: @document.document_name,
      },
    ]
  } %>

  <%= render partial: "admin/icon-heading", locals: {
    icon: "fa-solid fa-lock",
    text: "Revisions"
  } %>

  <%= render partial: "admin/icon-list", locals: {
    items: (@revisions.map do |revision|
      {
        icon: "fa-solid fa-book",
        top: {
          text: revision.revision_name,
          href: admin_labour_law_revision_path(revision),
        },
        bottom: { text: revision.revision_code },
      }
    end).concat([
      {
        icon: "fa-solid fa-book",
        top: {
          text: "New",
          href: new_admin_labour_law_revision_path(document_id: @document.id),
        },
        bottom: { text: "" },
      }])
  } %>

</div>