<div class="container flex flex-col gap-8 w-full p-8">

  <%= render partial: "admin/icon-breadcrumbs", locals: {
    items: [
      {
        icon: "fa-solid fa-lock",
        href: "/admin",
        text: "Admin",
      },
      {
        icon: "fa-solid fa-book",
        href: admin_labour_law_documents_path,
        text: "Labour Law",
      },
      {
        icon: "fa-solid fa-book",
        href: admin_labour_law_document_path(@document),
        text: @document.document_name,
      },
      {
        icon: "fa-solid fa-book",
        href: admin_labour_law_revisions_path(document_id: @document.id),
        text: "Revisions",
      },
    ]
  } %>

  <%= render partial: "admin/icon-heading", locals: {
    icon: "fa-solid fa-lock",
    text: @revision.revision_code,
  } %>

  <%= render partial: "admin/icon-list", locals: {
    items: [
      {
        icon: "fa-solid fa-book",
        top: { text: "Revision Name" },
        bottom: { text: @revision.revision_name },
      },
      {
        icon: "fa-solid fa-book",
        top: { text: "Revision Code" },
        bottom: { text: @revision.revision_code },
      },
      {
        icon: "fa-solid fa-book",
        top: { text: "Revision Status" },
        bottom: { text: @revision.revision_status },
      },
      {
        icon: "fa-solid fa-book",
        top: {
          text: "Elements",
          href: admin_labour_law_elements_path(revision_id: @revision.id),
        },
        bottom: { text: "#{@revision.elements.count}" },
      },
      {
        icon: "fa-solid fa-book",
        top: {
          text: "Edit",
          href: edit_admin_labour_law_revision_path(@revision),
        },
      },
      {
        icon: "fa-solid fa-book",
        top: {
          html: button_to(
            "Copy",
            "/admin/labour_law/revisions/#{@revision.id}/copy",
            {
              method: :post,
              class: "text-blue-700"
            }
          )
        },
      },
      {
        icon: "fa-solid fa-book",
        top: {
          html: button_to(
            "Delete",
            admin_labour_law_revision_path(@revision),
            {
              method: :delete,
              class: "text-red-700"
            }
          )
        },
      }
    ]
  } %> 

</div>