<div class="flex flex-col gap-4">

  <h1 class="font-bold text-4xl">
    Dashboard
  </h1>

  <p>
    Hey <%= @user.name %>.
    You're subscribed to email alerts for Work Environment Authority filings regarding company <%= @user.subscriptions.first.company_code %>.
    <% if @user.subscriptions.first.refreshes.count == 0 %>
      Your subscription hasn't been refreshed yet.
    <% end %>
  </p>

  <% if @user.notifications.count > 0 %>
    <ol>
      <% @user.notifications.each do |notification| %>
        <li>
          <%= notification.result.document_code %>
        </li>
      <% end %>
    </ol>
  <% end %>

  <div class="flex flex-row gap-4">
    <%= button_to(
      "Sign out",
      destroy_user_session_path,
      method: :delete,
      class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
    ) %>
  </div>

</div>
