<div class="container flex flex-col gap-8 w-full p-8">

  <%= render partial: "admin/icon-breadcrumbs", locals: {
    items: [
      {
        icon: "fa-solid fa-lock",
        href: "/admin",
        text: "Admin",
      },
    ]
  } %>

  <%= render partial: "admin/icon-heading", locals: {
    icon: "fa-solid fa-book",
    text: "Labour Law",
  } %>

  <%= render partial: "admin/icon-list", locals: {
    items: (@documents.map do |document|
      {
        icon: "fa-solid fa-book",
        top: {
          text: document.document_name,
          href: admin_labour_law_document_path(document),
        },
      }
    end).concat([
      {
        icon: "fa-solid fa-book",
        top: {
          text: "New",
          href: new_admin_labour_law_document_path,
        },
      }])
  } %>

</div>