<div class="container flex flex-col gap-8 w-full p-8">

  <%= render partial: "admin/icon-breadcrumbs", locals: {
    items: [
      {
        icon: "fa-solid fa-lock",
        href: "/admin",
        text: "Admin",
      },
      {
        icon: "fa-solid fa-book",
        href: admin_labour_law_documents_path,
        text: "Labour Law",
      },
    ]
  } %>

  <%= render partial: "admin/icon-heading", locals: {
    icon: "fa-solid fa-lock",
    text: @document.document_name,
  } %>

   <%= render partial: "admin/icon-list", locals: {
    items: [
      {
        icon: "fa-solid fa-book",
        top: { text: "Document Name" },
        bottom: { text: @document.document_name },
      },
      {
        icon: "fa-solid fa-book",
        top: { text: "Document Code" },
        bottom: { text: @document.document_code },
      },

      {
        icon: "fa-solid fa-book",
        top: { text: "Edit", href: edit_admin_labour_law_document_path(@document) },
        bottom: { text: "Change something" },
      },

      {
        icon: "fa-solid fa-book",
        top: { text: "Revisions", href: admin_labour_law_revisions_path(document_id: @document.id)},
        bottom: { text: "#{@document.revisions.count}" },
      },
    ]
  } %> 

  <h2 class="text-2xl">
    Revisions
  </h2>


   <%= render partial: "admin/icon-list", locals: {
    items: (@document.revisions.map do |revision|
      {
        icon: "fa-solid fa-book",
        top: {
          text: revision.revision_name,
          href: admin_labour_law_revision_path(revision),
        },
        bottom: { text: revision.revision_code },
      }
    end).concat([
      {
        icon: "fa-solid fa-book",
        top: {
          text: "New",
          href: "/"
        },
        bottom: { text: "" },
      }])
          
  } %>

</div>