<div class="container flex flex-col gap-8 w-full p-8">

  <%= render partial: "admin/icon-breadcrumbs", locals: {
    items: [
      {
        icon: "fa-solid fa-lock",
        href: "/admin",
        text: "Admin",
      },
      {
        icon: "fa-solid fa-book",
        href: admin_labour_law_documents_path,
        text: "Labour Law",
      },
    ]
  } %>

  <%= render partial: "admin/icon-heading", locals: {
    icon: "fa-solid fa-lock",
    text: @document.document_name,
  } %>

   <%= render partial: "admin/icon-list", locals: {
    items: [
      {
        icon: "fa-solid fa-book",
        top: { text: "ID" },
        bottom: { text: @document.id },
      },
      {
        icon: "fa-solid fa-book",
        top: { text: "Created" },
        bottom: { text: @document.created_at },
      },
      {
        icon: "fa-solid fa-book",
        top: { text: "Updated" },
        bottom: { text: @document.updated_at },
      },
      {
        icon: "fa-solid fa-book",
        top: { text: "Document Name" },
        bottom: { text: @document.document_name },
      },
      {
        icon: "fa-solid fa-book",
        top: { text: "Document Code" },
        bottom: { text: @document.document_code },
      },
      {
        icon: "fa-solid fa-book",
        top: { text: "Document Slug" },
        bottom: { text: @document.document_slug },
      },
      {
        icon: "fa-solid fa-book",
        top: {
          text: "Revisions",
          href: admin_labour_law_revisions_path(document_id: @document.id),
        },
        bottom: {
          text: "#{@document.revisions.count}",
        },
      },
      {
        icon: "fa-solid fa-book",
        top: {
          text: "Edit",
          href: edit_admin_labour_law_document_path(@document),
        },
      },
      {
        icon: "fa-solid fa-book",
        top: {
          html: button_to(
            "Delete",
            admin_labour_law_document_path(@document),
            {
              method: :delete,
              class: "text-red-700"
            }
          )
        },
      }
    ]
  } %> 

</div>