<div class="container flex flex-col gap-8 w-full p-8">

  <%= render partial: "admin/icon-breadcrumbs", locals: {
    items: [
      {
        icon: "fa-solid fa-lock",
        href: "/admin",
        text: "Admin",
      },
    ]
  } %>

  <%= render partial: "admin/icon-heading", locals: {
    icon: "fa-solid fa-calendar-week",
    text: "Weeks",
  } %>


  <%= render partial: "admin/icon-list", locals: {
    items: @weeks.map do |week|
      {
        icon: "fa-solid fa-calendar-week",
        top: { text: week.week_code, href: "/legacy_admin/time_period/weeks/#{week.id}"  },
        bottom: { text: week.days.count },
      }
    end
  } %>

</div>