<%= h1 do %>
  <span class="font-normal md:font-extralight">
    <%= title %>
  </span>
  <br />
  <span class="text-lg leading-1 align-top text-slate-500 font-light">
    <%= subtitle %>
  </span>
<% end %>