<div class="flex flex-row justify-between items-center">
  <div class="flex flex-col">
    <h3 class="font-bold">
      <%= @name %>
    </h3>
    <div class="">
      <%= @value %>
    </div>
  </div>
  <a href="<%= @href %>" class="bg-slate-400 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded h-min">
    Change
  </a>
</div>