<div class="container flex flex-col gap-8 w-full p-8">

  <%= render partial: "admin/icon-heading", locals: {
    icon: "fa-solid fa-lock",
    text: "Admin",
  } %>


  <%= render partial: "admin/icon-list", locals: {
    items: [

      {
        icon: "fa-solid fa-file-lines",
        top: { text: "Work Environment Documents", href: "/admin/work_environment/documents"  },
        bottom: { text: number_with_delimiter(WorkEnvironment::Document.count) },
      },

      {
        icon: "fa-solid fa-bell",
        top: { text: "Work Environment Notifications", href: "/admin/work_environment/notifications"  },
        bottom: { text: number_with_delimiter(User::Notification.count) },
      },

      {
        icon: "fa-solid fa-magnifying-glass",
        top: { text: "Work Environment Searches" },
        bottom: { text: number_with_delimiter(WorkEnvironment::Search.count) },
      },

      {
        icon: "fa-solid fa-calendar-days",
        top: { text: "Days", href: "/admin/time_period/days"  },
        bottom: { text: TimePeriod::Day.count },
      },

      {
        icon: "fa-solid fa-calendar-week",
        top: { text: "Weeks", href: "/admin/time_period/weeks"  },
        bottom: { text: TimePeriod::Week.count },
      },

      {
        icon: "fa-solid fa-chart-line",
        top: { text: "Statistics", href: "/admin/statistics/"  },
        bottom: { text: "#{User::Notification.last.created_at.strftime("%Y-%m-%d")}" },
      },

      {
        icon: "fa-solid fa-user",
        top: { text: "Users", href: "/admin/users/"  },
        bottom: { text: "#{User::Account.count}" },
      },

      {
        icon: "fa-solid fa-book",
        top: { text: "Labour Law", href: "/admin/labour_law/documents"  },
        bottom: { text: LabourLaw::Document.count },
      },

    ]
  } %>

  <section class="w-full flex flex-col gap-10 flex-1 md:p-6 bg-white md:border md:border-gray-200 md:rounded-lg md:shadow">
    <div class="flex flex-row justify-between">
      <h2 class="text-2xl font-bold">
        Documents
      </h2>
      <a class="text-blue-700" href="/admin/statistics">more statistics</a>

    </div>
    <%= column_chart TimePeriod::Day.where('date > ?', 21.days.ago).chronological.map { |d| [d.date.strftime("%Y-%m-%d"), d.documents.count] }.to_h %>
  </section>

</div>