<div class="container flex flex-col gap-8 w-full p-8">
  <%= render layout: "shared/h1" do %>
    Admin
  <% end %>

  <p>
    <a class="text-blue-700 underline" href="/admin/policies">
      Policies
    </a>
  </p>

  <p>
    <a class="text-blue-700 underline" href="/admin/posts">
      Posts
    </a>
  </p>

  <ol class="flex flex-col gap-4">
    <% @days.each do |day| %>
      <li>
        <a class="text-blue-700 underline" href="/admin/<%= day.ymd %>">
          <%= day.ymd %>
        </a>
      </li>
    <% end %>
  </ol>

</div>