<div class="container flex flex-col gap-8 w-full p-8">
  <%= render layout: "shared/h1" do %>
    Admin
  <% end %>

  <ol class="flex flex-col gap-4">
    <% @days.each do |day| %>
      <li>
        <a href="/admin/<%= day.ymd %>">
        <%= day.ymd %>
      </li>
    <% end %>
  </ol>

</div>