<% content_for(:opengraph) do %>
  <meta property="og:description" content="" />
  <meta property="og:title" content="" />
  <meta property="og:type" content="website" />
<% end %>

<div class="flex flex-col px-4 lg:px-0 pt-8 max-w-5xl w-full">

  <h1 class="text-3xl font-extralight mb-8 pb-8 border-b border-gray-300 w-full">
    English Translations of Swedish Labour Law
  </h1>

  <p class="prose max-w-2xl">
    The Swedish government provides some limited <a class="text-blue-700 underline" href="https://www.government.se/government-policy/labour-law-and-work-environment/">information in English about Swedish labour law</a>.
    This includes a series of unofficial translations of the laws themselves.
    666a provides some of these translations as web pages, making them easier to read and share.
  </p>

  <div class="max-w-5xl">
    <dl
      class="grid grid-cols-1 gap-x-8 gap-y-8 lg:gap-y-16 mt-8 lg:mt-16 mb-8 max-w-2xl"
    >
      <div class="relative pl-16">
        <dt class="text-base font-semibold leading-7 text-gray-900">
          <div
            class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600"
          >
            <i class="fa-solid fa-building text-white text-xl"></i>
          </div>
          <a href="/labour-law/work-environment-act/2023:349" class="text-indigo-700 underline">
            The Work Environment Act
          </a>
        </dt>
        <dd class="mt-2 text-base leading-7 text-gray-600">
          Sweden's Work Environment Act puts influence in the hands of workers even before the formation of a union.
        </dd>
      </div>

      <div class="relative pl-16">
        <dt class="text-base font-semibold leading-7 text-gray-900">
          <div
            class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600"
          >
            <i class="fa-solid fa-scale-balanced text-white text-xl"></i>
          </div>
          <a href="/labour-law/codetermination-act/2021:1114" class="text-indigo-700 underline">
            The Co-Determination Act
          </a>
        </dt>
        <dd class="mt-2 text-base leading-7 text-gray-600">
          The Co-Determination Act is the basis for the Swedish model of industrial democracy.
          It creates legal protections and obligations for unions and employers.
        </dd>
      </div>

      <div class="relative pl-16">
        <dt class="text-base font-semibold leading-7 text-gray-900">
          <div
            class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600"
          >
            <i class="fa-solid fa-umbrella text-white text-xl"></i>
          </div>
          <a href="/labour-law/employment-protection-act/2022:836" class="text-indigo-700 underline">
            The Employment Protection Act
          </a>
        </dt>
        <dd class="mt-2 text-base leading-7 text-gray-600">
          The Swedish Employment Protection Act provides strong job security
          by limiting employers' ability to terminate employment contracts
          without just cause.
        </dd>
      </div>

      <div class="relative pl-16">
        <dt class="text-base font-semibold leading-7 text-gray-900">
          <div
            class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600"
          >
            <i class="fa-solid fa-clock text-white text-xl"></i>
          </div>
          <a href="/labour-law/working-hours-act/2013:611" class="text-indigo-700 underline">
            The Working Hours Act
          </a>
        </dt>
        <dd class="mt-2 text-base leading-7 text-gray-600">
          The Swedish Working Hours Act emphasizes a flexible approach,
          allowing employees to have a say in their work schedules and
          promoting a better work-life balance.
        </dd>
      </div>

    </dl>
  </div>
      
</div>