<div class="flex flex-row justify-between items-center max-w-full overflow-hidden">
  <div class="flex flex-col overflow-hidden ">
    <h3 class="font-bold">
      <%= name %>
    </h3>
    <div class="truncate">
      <%= value %>
    </div>
  </div>
  <a href="<%= href %>" class="min-width-max-content hover:bg-slate-400 text-blue-700 hover:text-white py-2 px-4 whitespace-nowrap rounded h-min">
    <%= text %>
  </a>
</div>