<div class="flex flex-col gap-8 w-full p-4 pt-8 lg:px-0 max-w-5xl">

  <%= render layout: "shared/h1" do %>
    Delete Account
  <% end %>

  <p>
    You have the right to have your personal data erased under <a
    class="text-blue-700 underline"
    href="https://gdpr.eu/article-17-right-to-be-forgotten/">Article 17 of the
    GDPR</a>. Deleting your accout will trigger removal of all your personal
    data from 666a.
  </p>

  <% if @user.nil? then %>

    <div>
      <%= link_to(
        t("home.login"),
        new_user_session_path,
        class: "bg-cyan-200 hover:bg-cyan-300 text-black font-bold py-2 px-4 rounded"
      ) %>
    </div>

  <% else %>

    <%= form_for(
      current_user,
      as: "user",
      url: "/delete",
      builder: TailwindBuilder,
      html: {class: "flex flex-col gap-8 max-w-xs" },
      method: :post) do |f| %>
      <div class="actions">
        <%= f.submit "Delete" %>
      </div>
    <% end %>

  <% end %>

</div>