<div class="flex flex-col gap-8 w-full p-4 pt-8 lg:px-0 max-w-5xl">

  <%= render layout: "shared/h1" do %>
    Forgot Password
  <% end %>

  <p>
    Email <a class="text-blue-700 underline" href="mailto:henry@666a.se">henry@666a.se</a> for help.
  </p>

</div>