<div class="container flex flex-col gap-8 w-full p-8">

  <%= render layout: "shared/h1" do %>
    Forgot Password
  <% end %>

  <p>
    Email <a class="text-blue-700 underline" href="mailto:henry@666a.se">henry@666a.se</a> for help.
  </p>

</div>