<section class="flex flex-col flex=1 w-full items-center gap-8 bg-slate-200 min-h-[50vh] justify-center">
  <div class="container p-8">
    <ol class="flex flex-col gap-4">

      <% @policies.each do |policy| %>
        <%= render partial: "home/footer-link", locals: {
          href: "/#{policy.slug}",
          icon: policy.icon,
          text: t("home.#{policy.slug}"),
        } %>
      <% end %>

    </ol>
  </div>
</section>