<div class="bg-white py-24 sm:py-32 min-h-screen">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:text-center">
      <h2 class="text-base font-semibold leading-7 text-indigo-600">
        Knowledge is power
      </h2>
      <p
        class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
      >
        Laws you can actually read
      </p>
      <p class="mt-6 text-lg leading-8 text-gray-600">
        You can't exercise your rights if you don't know what they are.
        666a provides access to Swedish laws translated into English.
        And not PDFs, but proper web pages that you can send your colleagues links to.  
      </p>
    </div>
    <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
      <dl
        class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16"
      >
        <div class="relative pl-16">
          <dt class="text-base font-semibold leading-7 text-gray-900">
            <div
              class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xml:space="preserve"
                aria-hidden="true"
                viewBox="-60 -60 300 300">
                <path fill="#fff" d="M156 176H20c-1 0-2-1-2-3V61l2-3h35V3c0-2 1-3 3-3h98c1 0 2 1 2 3v171a3 3 0 0 1-2 2zm-63-5h60V5H60v53h30c2 0 3 2 3 3v110zm-70 0h65V63H23v108zm57-16H60c-1 0-2-1-2-3v-11c0-2 1-3 2-3h20c1 0 3 1 3 3v11c0 2-2 3-3 3zm-17-5h15v-7H63v7zm-13 5H31c-2 0-3-1-3-3v-11c0-2 1-3 3-3h19c2 0 3 1 3 3v11c0 2-1 3-3 3zm-17-5h15v-7H33v7zm106 3h-10l-2-2v-11l2-2h10l2 2v11l-2 2zm-7-5h4v-5h-4v5zm-21 5h-9c-2 0-3-1-3-2v-11c0-1 1-2 3-2h9c2 0 3 1 3 2v11c0 1-1 2-3 2zm-7-5h5v-5h-5v5zm-24-16H60l-2-2v-12l2-3h20l3 3v12l-3 2zm-17-5h15v-7H63v7zm-13 5H31c-2 0-3-1-3-2v-12c0-1 1-3 3-3h19c2 0 3 2 3 3v12c0 1-1 2-3 2zm-17-5h15v-7H33v7zm106 1h-10l-2-2v-10c0-2 1-3 2-3h10c1 0 2 1 2 3v10l-2 2zm-7-5h4v-5h-4v5zm-21 5h-9c-2 0-3-1-3-2v-10c0-2 1-3 3-3h9c2 0 3 1 3 3v10c0 1-1 2-3 2zm-7-5h5v-5h-5v5zm-24-14H60l-2-2V95l2-2h20l3 2v12l-3 2zm-17-5h15v-6H63v6zm-13 5H31c-2 0-3-1-3-2V95c0-1 1-2 3-2h19c2 0 3 1 3 2v12c0 1-1 2-3 2zm-17-5h15v-6H33v6zm106 0h-10l-2-3V91c0-2 1-3 2-3h10c1 0 2 1 2 3v10l-2 3zm-7-5h4v-6h-4v6zm-21 5h-9c-2 0-3-2-3-3V91c0-2 1-3 3-3h9c2 0 3 1 3 3v10c0 1-1 3-3 3zm-7-5h5v-6h-5v6zM80 87H60c-1 0-2-1-2-3V73c0-2 1-3 2-3h20c1 0 3 1 3 3v11c0 2-2 3-3 3zm-17-5h15v-7H63v7zm-13 5H31c-2 0-3-1-3-3V73c0-2 1-3 3-3h19c2 0 3 1 3 3v11c0 2-1 3-3 3zm-17-5h15v-7H33v7zm106-3h-10l-2-3V66c0-2 1-3 2-3h10c1 0 2 1 2 3v10l-2 3zm-7-5h4v-6h-4v6zm-21 5h-9c-2 0-3-2-3-3V66c0-2 1-3 3-3h9c2 0 3 1 3 3v10c0 1-1 3-3 3zm-7-5h5v-6h-5v6zm35-20h-10c-1 0-2-1-2-3V41c0-2 1-3 2-3h10c1 0 2 1 2 3v10c0 2-1 3-2 3zm-7-5h4v-6h-4v6zm-21 5h-9c-2 0-3-1-3-3V41c0-2 1-3 3-3h9c2 0 3 1 3 3v10c0 2-1 3-3 3zm-7-5h5v-6h-5v6zm-20 5H74c-1 0-3-1-3-3V41c0-2 2-3 3-3h10c1 0 2 1 2 3v10c0 2-1 3-2 3zm-8-5h5v-6h-5v6zm63-20h-10c-1 0-2-1-2-3V16l2-3h10l2 3v10c0 2-1 3-2 3zm-7-5h4v-6h-4v6zm-21 5h-9c-2 0-3-1-3-3V16c0-1 1-3 3-3h9c2 0 3 2 3 3v10c0 2-1 3-3 3zm-7-5h5v-6h-5v6zm-20 5H74c-1 0-3-1-3-3V16l3-3h10l2 3v10c0 2-1 3-2 3zm-8-5h5v-6h-5v6z"/>
              </svg>
            </div>
            <a href="/1977:1160/2014:659/" class="text-indigo-700 underline">
              The Work Environment Act
            </a>
          </dt>
          <dd class="mt-2 text-base leading-7 text-gray-600">
            Sweden's Work Environment Act puts influence in the hands of workers even before the formation of a union.
          </dd>
        </div>

        <div class="relative pl-16">
          <dt class="text-base font-semibold leading-7 text-gray-900">
            <div
              class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true"
                xml:space="preserve"
                viewBox="-60 -80 376 376">
                <path fill="#fff" stroke-miterlimit="10" stroke-width="0" d="m253 48-2-1a353 353 0 0 0-64 11v2l2 8c-17-7-43-11-64-10-8 0-17 4-26 10H66l3-8a3 3 0 0 0-2-3 353 353 0 0 0-65-9l-1 2v97l3 2h35c1 0 2 0 3-2l1-4c29 34 58 64 80 64 5 0 9-1 13-3 3 3 7 4 10 4h1a14 14 0 0 0 14-12 14 14 0 0 0 19-1c3-3 4-7 4-11h3a14 14 0 0 0 14-13c0-4-1-8-4-10l-3-4 19-12 1 2c0 2 1 2 3 2h34c2 0 3-1 3-2V50l-1-2zM37 144H7V53c16 1 34 4 55 9l-25 82zm156 33c-3 3-9 2-13-1v-1l-31-31a3 3 0 0 0-4 4l31 31 2 6-2 6c-4 4-9 4-13 0l-6-7-31-31a3 3 0 0 0-4 4l31 31a9 9 0 0 1-13 12l-37-38a3 3 0 1 0-4 4l33 33c-21 12-56-26-87-62l20-63h27c-8 6-14 15-17 22-4 10-1 15 1 18h1c11 9 21 11 38-6 5 0 10-1 14-3 24 16 45 36 64 60 4 3 3 8 0 12zm-2-24c-18-21-38-39-60-54h-3c-4 2-8 3-14 3l-2 1c-16 16-24 13-32 7-2-3-1-8 0-12 6-15 29-34 45-34 23-1 49 3 67 11l20 65-21 13zm58-9h-30l-26-82c22-5 39-8 56-9v91z"/>
              </svg>
            </div>
            <a href="/1976:580/2021:1114/" class="text-indigo-700 underline">
              The Co-Determination Act
            </a>
          </dt>
          <dd class="mt-2 text-base leading-7 text-gray-600">
            The Co-Determination Act is the basis for the Swedish model of industrial democracy.
            It creates legal protections and obligations for unions and employers.
          </dd>
        </div>

        <div class="relative pl-16">
          <dt class="text-base font-semibold leading-7 text-gray-900">
            <div
              class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true"
                xml:space="preserve"
                viewBox="-60 -80 376 376">
              </svg>
            </div>
            <a href="/1982:80/2022:836" class="text-indigo-700 underline">
              The Employment Protect Act
            </a>
          </dt>
          <dd class="mt-2 text-base leading-7 text-gray-600">
            The Swedish Employment Protection Act provides strong job security
            by limiting employers' ability to terminate employment contracts
            without just cause.
          </dd>
        </div>

      </dl>
    </div>
  </div>
</div>
