<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-5xl px-6 lg:px-0">
    <div class="mx-auto max-w-2xl lg:text-center">
      <h2 class="text-base font-semibold leading-7 text-indigo-600">
        Knowledge is power
      </h2>
      <p
        class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
      >
        Laws you can actually read
      </p>
      <p class="mt-6 text-lg leading-8 text-gray-600">
        You can't exercise your rights if you don't know what they are.
        666a provides access to Swedish laws translated into English.
        And not PDFs, but proper web pages that you can send your colleagues links to.  
      </p>
    </div>

    <div class="mx-auto mt-16 sm:mt-20 lg:mt-24 max-w-5xl">
      <dl
        class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16 mb-8"
      >
        <div class="relative pl-16">
          <dt class="text-base font-semibold leading-7 text-gray-900">
            <div
              class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600"
            >
              <i class="fa-solid fa-building text-white text-xl"></i>
            </div>
            <a href="/labour-law/work-environment-act/2014:659" class="text-indigo-700 underline">
              The Work Environment Act
            </a>
          </dt>
          <dd class="mt-2 text-base leading-7 text-gray-600">
            Sweden's Work Environment Act puts influence in the hands of workers even before the formation of a union.
          </dd>
        </div>

        <div class="relative pl-16">
          <dt class="text-base font-semibold leading-7 text-gray-900">
            <div
              class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600"
            >
              <i class="fa-solid fa-scale-balanced text-white text-xl"></i>
            </div>
            <a href="/labour-law/codetermination-act/2021:1114"" class="text-indigo-700 underline">
              The Co-Determination Act
            </a>
          </dt>
          <dd class="mt-2 text-base leading-7 text-gray-600">
            The Co-Determination Act is the basis for the Swedish model of industrial democracy.
            It creates legal protections and obligations for unions and employers.
          </dd>
        </div>

        <div class="relative pl-16">
          <dt class="text-base font-semibold leading-7 text-gray-900">
            <div
              class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600"
            >
              <i class="fa-solid fa-umbrella text-white text-xl"></i>
            </div>
            <a href="/labour-law/employment-protection-act/2022:836" class="text-indigo-700 underline">
              The Employment Protection Act
            </a>
          </dt>
          <dd class="mt-2 text-base leading-7 text-gray-600">
            The Swedish Employment Protection Act provides strong job security
            by limiting employers' ability to terminate employment contracts
            without just cause.
          </dd>
        </div>

        <div class="relative pl-16">
          <dt class="text-base font-semibold leading-7 text-gray-900">
            <div
              class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600"
            >
              <i class="fa-solid fa-clock text-white text-xl"></i>
            </div>
            <a href="/labour-law/working-hours-act/2013:611" class="text-indigo-700 underline">
              The Working Hours Act
            </a>
          </dt>
          <dd class="mt-2 text-base leading-7 text-gray-600">
            The Swedish Working Hours Act emphasizes a flexible approach,
            allowing employees to have a say in their work schedules and
            promoting a better work-life balance.
          </dd>
        </div>

      </dl>
    </div>
  </div>
</div>
