<% if @document.document_code == "1977:1160" then %>
<div class="bg-rose-100 p-4 rounded">
  <h2 class="text-lg mdtext-2xl font-bold">
    Important Notice
  </h2>
  <p>
      This is an outdated version of the Work Environment Act.
      The Swedish government produced a one-off unoffical English translation of the Work Environment Act in 2015.
      This page is based on that translation.
      The Work Environment Act has been revised repeatedly since then.
      None of the revisions have been translated into English.
      A <a class="text-blue-700 underline" href="https://lagen.nu/1977:1160?diff=true&from=2014%3A659">summary of the changes</a> is available on lagen.nu.
  </p>
</div>
<% elsif @document.document_code == "1982:673" then %>
<div class="bg-rose-100 p-4 rounded">
  <h2 class="text-lg mdtext-2xl font-bold">
    Important Notice
  </h2>
  <p>
      This is an outdated version of the Working Hours Act.
      The Swedish government produced a one-off unoffical English translation of the Working Hours Act in 2015.
      This page is based on that translation.
      The Working Hous Act has been revised repeatedly since then.
      None of the revisions have been translated into English.
      A <a class="text-blue-700 underline" href="https://lagen.nu/1982:673?diff=true&from=2013%3A611" target="_blank">summary of the changes</a> is available on lagen.nu.
  </p>
</div>
<% end %>