<div class="container flex flex-col gap-8 w-full p-8">


  <%= render partial: "admin/icon-breadcrumbs", locals: {
    items: [
      {
        icon: "fa-solid fa-lock",
        href: "/admin",
        text: "Admin",
      },
    ]
  } %>

  <%= render partial: "admin/icon-heading", locals: {
    icon: "fa-solid fa-calendar-days",
    text: "Days",
  } %>

  <%= render partial: "admin/icon-list", locals: {
    items: @days.map do |day|
      {
        icon: "fa-solid fa-calendar-days",
        top: {
          text: "#{day.ymd} (#{day.date.strftime("%A")})",
          href: "/admin/time_period/days/#{day.id}",
        },
        bottom: {
          text: "#{day.searches.count} searches, #{day.results.count} results, #{day.documents.count} documents",
        },
      }
    end
  } %>

</div>