<div class="container flex flex-col gap-8 w-full p-8">
  <%= render partial: "admin/icon-breadcrumbs", locals: {
    items: [
      {
        icon: "fa-solid fa-lock",
        href: "/admin",
        text: "Admin",
      },
      {
        icon: "fa-solid fa-chart-line",
        href: "/admin/statistics",
        text: "Statistics",
      },
    ]
  } %>

  <%= render partial: "admin/icon-heading", locals: {
    icon: "fa-solid fa-tree",
    text: "December Comparison",
  } %>

 <section class="w-full flex flex-col gap-10 flex-1 md:p-6 bg-white md:border md:border-gray-200 md:rounded-lg md:shadow">
    <h2 class="text-2xl">
      2022
    </h2>
    <%= column_chart TimePeriod::Day.chronological.where('date >= ?', "2023-12-01").where('date < ?', "2024-01-01").map { |d| [
      d.last_year.date.strftime("%Y-%m-%d"),
      #d.documents.count,
      d.last_year.documents.count,
    ] } %>
  </section>

 <section class="w-full flex flex-col gap-10 flex-1 md:p-6 bg-white md:border md:border-gray-200 md:rounded-lg md:shadow">
    <h2 class="text-2xl">
      2023
    </h2>
    <%= column_chart TimePeriod::Day.chronological.where('date >= ?', "2023-12-01").where('date < ?', "2024-01-01").map { |d| [
      d.date.strftime("%Y-%m-%d"),
      d.documents.where('created_at < ?', "2023-12-31").count,
      # d.last_year.documents.count,
    ] } %>
  </section>
</div>