<div class="container flex flex-col gap-10 w-full p-8">

  <%= render layout: "shared/h1" do %>
    Posts
  <% end %>

  <%= link_to(
    "New",
    "/admin/posts/new",
    class: "w-max bg-slate-400 text-blue-700 text-white py-2 px-4 whitespace-nowrap rounded h-min"
  ) %>

  <ol>
    <% @posts.each do |post| %>
      <li>
        <a class="text-blue-700 underline" href="/admin/posts/<%= post.slug %>">
          <%= post.title %>
        </a>
      </li>
    <% end %>
  </ol>

</div>
