<nav class="flex justify-center border-b border-gray-200 h-12 items-center w-full">
  <div class="mx-auto max-w-5xl w-full px-4 lg:px-0">
    <a href="/" class="flex flex-row items-center gap-2">
      <img src="/logo-128.png" class="max-w-[18px]" alt="" />
      <img src="/666a.svg" class="max-h-[20px]" alt="666a" />
    </a>
  </div>
</nav>