
<div class="grid place-items-center gap-x-6 bg-red-600 px-6 py-2.5 sm:px-3.5 sm:before:flex-1">
  <p class="text-sm/6 text-white">
    <a href="https://henry.catalinismith.com/2025/01/12/shutting-down-666a/">
      <strong class="font-semibold">666a is shutting down</strong>
      <svg viewBox="0 0 2 2" class="mx-2 inline size-0.5 fill-current" aria-hidden="true"><circle cx="1" cy="1" r="1" /></svg>
      Here's how long's left
      <span aria-hidden="true">&rarr;</span>
    </a>
  </p>

</div>