<% content_for(:opengraph) do %>
  <meta property="og:description" content="<%= @post.description %>" />
  <meta property="og:title" content="<%= @post.title %>" />
  <meta property="og:type" content="website" />
<% end %>

<div class="container p-8 flex flex-col gap-8 md:flex-row">

  <div class="flex flex-col gap-4 flex-1">
    <%= render_post(@body, @date).html_safe %>
  </div>

  <div class="flex flex-col gap-4 h-min md:p-4 md:w-80 md:border md:border-gray-200 md:rounded-lg md:shadow">
    <h2 class="text-xl font-bold">
      Archive
    </h2>

    <ol class="flex flex-col gap-4">

      <% @posts.each do |post| %>
        <%= render partial: "posts/link", locals: {
          href: "/#{post.date.strftime('%Y/%m/%d')}/#{post.slug}",
          text: post.title,
        } %>
      <% end %>

    </ol>

  </div>

</div>