<div class="container flex flex-col gap-8 w-full p-8">

  <%= render partial: "admin/icon-breadcrumbs", locals: {
    items: [
      {
        icon: "fa-solid fa-lock",
        href: "/admin",
        text: "Admin",
      },
    ]
  } %>

  <%= render partial: "admin/icon-heading", locals: {
    icon: "fa-solid fa-file-lines",
    text: "Work Environment Documents",
  } %>

  <%= render partial: "admin/icon-list", locals: {
    items: @documents.map do |document|
      {
        icon: "fa-solid fa-file-lines",
        top: {
          text: "#{document.document_code}, #{document.case_name}",
          href: "/admin/work_environment/documents/#{document.id}",
        },
        bottom: { text: "#{document.company_name ||
          document.company_code ||
          document.workplace_name ||
          document.workplace_code ||
          document.county_name 
        }" },
      }
    end
  } %>

</div>