<div class="container flex flex-col gap-8 w-full p-8">

  <%= render layout: "shared/h1" do %>
    Legal Documents
  <% end %>

  <%= link_to(
    "New",
    "/admin/legal/documents/new",
    class: "w-max bg-slate-400 text-blue-700 text-white py-2 px-4 whitespace-nowrap rounded h-min"
  ) %>

  <ol class="flex flex-col gap-4">
    <% @documents.each do |document| %>
      <li>
        <a class="text-blue-700 underline" href="/admin/legal/documents/<%= document.document_code %>">
          <%= document.document_name %>
        </a>
      </li>
    <% end %>
  </ol>

</div>