 <div class="container flex flex-col gap-8 w-full p-8">

  <%= render partial: "admin/icon-breadcrumbs", locals: {
    items: [
      {
        icon: "fa-solid fa-lock",
        href: "/admin",
        text: "Admin",
      },
    ]
  } %>

  <%= render partial: "admin/icon-heading", locals: {
    icon: "fa-solid fa-user",
    text: "Users",
  } %>

  <%= render partial: "admin/icon-list", locals: {
    items: @users.map do |user|
      {
        icon: "fa-solid fa-user",
        top: { text: user.name, href: "/admin/users/#{user.id}"  },
        bottom: { text: user.email },
      }
    end
  } %>

</div>