<div class="container flex flex-col gap-8 w-full p-8">

  <%= render partial: "admin/icon-breadcrumbs", locals: {
    items: [
      {
        icon: "fa-solid fa-lock",
        href: "/admin",
        text: "Admin",
      },
      {
        icon: "fa-solid fa-book",
        href: admin_labour_law_documents_path,
        text: "Labour Law",
      },
      {
        icon: "fa-solid fa-book",
        href: admin_labour_law_document_path(@document),
        text: @document.document_name,
      },
      {
        icon: "fa-solid fa-book",
        href: admin_labour_law_revisions_path(document_id: @document.id),
        text: "Revisions",
      },
      {
        icon: "fa-solid fa-book",
        href: admin_labour_law_revision_path(@revision),
        text: @revision.revision_code,
      },
      {
        icon: "fa-solid fa-book",
        href: admin_labour_law_elements_path(revision_id: @revision.id),
        text: "Elements",
      },
      {
        icon: "fa-solid fa-book",
        href: admin_labour_law_element_path(@element),
        text: @element.id,
      }
    ]
  } %>

  <%= render partial: "admin/icon-heading", locals: {
    icon: "fa-solid fa-lock",
    text: "Translations",
  } %>

   <%= render partial: "admin/icon-list", locals: {
    items: (@translations.map do |translation|
      {
        icon: "fa-solid fa-book",
        top: {
          text: translation.id,
          href: admin_labour_law_translation_path(translation),
        },
        bottom: { text: translation.translation_text },
      }
    end).concat([
      {
        icon: "fa-solid fa-book",
        top: {
          text: "New",
          href: new_admin_labour_law_translation_path(element_id: @element.id),
        },
        bottom: { text: "" },
      }])
  } %>

</div>