<div class="container flex flex-col gap-8 w-full p-8">

  <%= render partial: "admin/icon-breadcrumbs", locals: {
    items: [
      {
        icon: "fa-solid fa-lock",
        href: "/admin",
        text: "Admin",
      },
      {
        icon: "fa-solid fa-book",
        href: admin_labour_law_documents_path,
        text: "Labour Law",
      },
      {
        icon: "fa-solid fa-book",
        href: admin_labour_law_document_path(@document),
        text: @document.document_name,
      },
      {
        icon: "fa-solid fa-book",
        href: admin_labour_law_revisions_path(document_id: @document.id),
        text: "Revisions",
      },
      {
        icon: "fa-solid fa-book",
        href: admin_labour_law_revision_path(@revision),
        text: @revision.revision_code,
      },
      {
        icon: "fa-solid fa-book",
        href: admin_labour_law_elements_path(revision_id: @revision.id),
        text: "Elements",
      },
      {
        icon: "fa-solid fa-book",
        href: admin_labour_law_element_path(@element),
        text: @element.id,
      },
      {
        icon: "fa-solid fa-book",
        href: admin_labour_law_translations_path(element_id: @element.id),  
        text: "Translations",
      }
    ]
  } %>

  <%= render partial: "admin/icon-heading", locals: {
    icon: "fa-solid fa-lock",
    text: @translation.id,
  } %>

   <%= render partial: "admin/icon-list", locals: {
    items: [
      {
        icon: "fa-solid fa-book",
        top: { text: "Translation Locale" },
        bottom: { text: @translation.translation_locale },
      },
      {
        icon: "fa-solid fa-book",
        top: { text: "Translation Text" },
        bottom: { text: @translation.translation_text },
      },
      {
        icon: "fa-solid fa-book",
        top: { text: "Edit", href: edit_admin_labour_law_translation_path(@translation) },
      },
      {
        icon: "fa-solid fa-book",
        top: {
          html: button_to(
            "Delete",
            admin_labour_law_translation_path(@translation),
            {
              method: :delete,
              class: "text-red-700"
            }
          )
        },
      }
    ]
  } %>

</div>