<% content_for :header do -%>
  <nav class="flex justify-center border-b border-gray-200">
    <div class="container py-4 px-8">
      <a href="/">
        <img src="/logo-black-64.png" class="max-w-[32px]" />
      </a>
    </div>
  </nav>
<% end -%>

<%= render template: "layouts/application" %>