<li>
  <a href="<%= href %>" class="text-blue-700 flex flex-row gap-2 items-center">
    <i class="fa-solid <%= icon %> text-2xl w-8 text-cyan-800"></i>
    <span class="underline"><%= text %></span>
  </a>
</li>