<div class="container p-8 flex flex-col gap-8 md:flex-row">

  <div class="flex flex-col gap-4 flex-1">
    <h1 class="text-3xl font-bold"><%= @policy.name %></h1>
    <%= @html.html_safe %>
  </div>

  <div class="flex flex-col gap-4 h-min md:p-4 md:w-80 md:border md:border-gray-200 md:rounded-lg md:shadow">
    <h2 class="text-xl font-bold">
      Policies
    </h2>

    <ol class="flex flex-col gap-4">
      <% @policies.each do |policy| %>
        <%= render partial: "policies/link", locals: {
          href: "/#{policy.slug}",
          icon: policy.icon,
          text: t("home.#{policy.slug}"),
        } %>
      <% end %>
    </ol>

  </div>

</div>